{% extends 'core/base.html' %}
{% block content %}{% csrf_token %}
  <button class="cybr-btn" id="btnReclamar">
    >Reclamar POAP<span aria-hidden>_</span>
    <span aria-hidden class="cybr-btn__glitch">>Reclamar POAP_</span>
    <span aria-hidden class="cybr-btn__tag">R25</span>
  </button>
{% endblock %}
{% block script %}
  <script>
      function getCookie(name) {
          let cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              const cookies = document.cookie.split(';');
              for (let i = 0; i < cookies.length; i++) {
                  const cookie = cookies[i].trim();
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }

      const csrftoken = getCookie('csrftoken');

      $('#btnReclamar').on('click', function () {
          return fetch('{% url 'home' %}', {
              method: 'post',
              body: JSON.stringify({
                  'data': "redirect",
              }),
              headers: {
                  'Content-Type': 'application/json',
                  'X-CSRFToken': csrftoken
              }
          }).then(response => response.json())
              .then(data => {
                  for (var clave in data) {
                      if (clave == "error") {
                          clave = "Error";
                      }
                  }
                  if (clave == "Error") {
                      console.log("Error");
                      Swal.fire({
                          icon: 'error',
                          title: 'Oops...',
                          text: 'Ya se reclamo este POA!',
                          footer: '<a href="">Why do I have this issue?</a>'
                      });
                  } else {
                      console.log(data, typeof (data), data);
                      window.location.href = data[Object.keys(data)[0]];
                  }
                  // window.location.href = data[Object.keys(data)[0]];
              })
              .catch(console.error);
      });

  </script>
{% endblock %}